{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="{% static 'd3/d3.js' %}"></script>
  <script src="{% static 'd3/d3.layout.cloud.js' %}"></script>
  <script src="{% static 'd3/d3.wordcloud.js' %}"></script>

  <title>Tech Job Post Analysis</title>

  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
  <header class="container center-align">
    <h3>Tech Job Post Analysis</h3>
  </header>
  <div class="container">
    {% block content %} {% endblock %}
    <br><br>
    <footer>
      <a class="center-align" href="/">Query Jobposts</a> |
      <a class="center-align" href="/scraper">Scraper</a> |
      <a class="center-align" href="/skills">Skills</a> |
      <a class="center-align" href="/admin">Admin</a>
    </footer>
  </div>

  <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
  {% block javascript %} {% endblock %}
</body>

</html>
