{% extends 'home/base.html' %}
{% block content %}
  {% load my_filters %}

  <h2>Enter a tech skill</h2>

  <form action="" method="get">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Enter" />
  </form>

  {% if query %}
    <h5>"{{query}}" matched {{res_count}}/{{all_posts}} jobposts in the last 6 weeks across the US. Highest occuring skills in the results:</h5>
    <div id='wordcloud'></div>
    <!-- <div>{{words}}</div> -->

    <h4>"{{query}}" jobposts counts, top cities shown first (click legend to show/hide):</h4>

    <section id="graph"><canvas id="myChart"></canvas></section>
    <!-- <div>loc_graph_data: {{loc_graph_data}}</div> -->
  {% endif %}

{% endblock %}


{% block javascript %}
  <!-- https://github.com/wvengen/d3-wordcloud/blob/master/README.md -->
  <script>
    d3.wordcloud()
     .size([600, 300])
     .selector('#wordcloud')
     .words({{words|safe}})
     .scale('sqrt')
     .spiral('archimedean')
     .start();

    var loc_posts = {{loc_graph_data|safe}}
    var ctx = document.getElementById('myChart').getContext('2d');
    var mydatasets = new Array();

    colors = [
        '#cb181d', //r
        '#238443', //g
        '#6a51a3', //p
        '#d94801', //o
        '#2b8cbe', //b
        '#ef3b2c', //r
        '#41ab5d', //g
        '#807dba', //p
        '#f16913', //o
        '#4eb3d3', //b
        '#fb6a4a', //r
        '#78c679', //g 
        '#9e9ac8', //p
        '#fd8d3c', //o
        '#7bccc4', //b
        '#fc9272', //r
        '#addd8e', //g
        '#bcbddc', //p
        '#fdae6b', //o
        '#a8ddb5', //b
        '#fcbba1', //r
        '#d9f0a3', //g
        '#dadaeb', //p
        '#fdd0a2', //o
        '#ccebc5', //b
    ];

    for (i=0; i < 25; i++) {
        dataset = {
            fill: false,
            backgroundColor: colors[i] ,
            borderColor: colors[i],
            borderWidth: '0.7',
            label: loc_posts[i]['loc'],
            data: loc_posts[i]['posts'],
            borderWidth: 1
        };
        if (i >= 5) {
            dataset.hidden = true;
        }
        mydatasets.push(dataset);
    };

    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['6 weeks ago', '5 weeks ago', '4 weeks ago', '3 weeks ago', '2 weeks ago', '1 week ago'],
        datasets: mydatasets
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Jobpost counts'
            },
            ticks: {
              beginAtZero: false
            }
          }]
        }
      }
    });
  </script>
{% endblock %}
