{% extends 'home/base.html' %}
{% block content %}
  {% load my_filters %}

  <h2>Search jobposts for related skills + counts across cities:</h2>

  <form action="" method="get">
    {{ form }}
    <button id="search-button">Search</button>
  </form>

  {% if query %}
    <section id="viz">
      <article id="skills">
        <h5 class="viz-header">"{{query}}" matched {{res_count}}/{{all_posts}} jobposts in the last 6 weeks across the US.</h5>
        <h5>Highest occuring skills in the results:</h5>
        <div id='wordcloud'></div>
      </article>

      <article>
        <h5 class="viz-header">"{{query}}" jobpost counts, top cities shown first (click legend to show/hide):</h5>
        <div id="graph"><canvas id="myChart"></canvas></div>
      </article>
    </section>
  {% endif %}

{% endblock %}


{% block javascript %}
  <!-- https://github.com/wvengen/d3-wordcloud/blob/master/README.md -->
  <script>
    function setWordCloud(width, height) {
      document.getElementById('wordcloud').innerHTML = "";
      d3.wordcloud()
       .size([width, height])
       .selector('#wordcloud')
       .words({{words|safe}})
       .scale('sqrt')
       .spiral('archimedean')
       .start();
    };

    // set initial size of wordcloud
    var size = ''
    $( document ).ready(function() {
        if ($(this).width() >= 975) {
            setWordCloud(900, 500);
            size = 'large'
        } else {
            setWordCloud(390, 190);
            size = 'small'
        }
    });

    // update wordcloud size if window size changes
    $(window).resize(function() {
        if ($(this).width() >= 975 && size == 'small') {
            console.log('switch to large');
            setWordCloud(900, 500);
            size = 'large'
        } else if ($(this).width() < 975 && size == 'large') {
            console.log('switch to small');
            setWordCloud(390, 190);
            size = 'small'
        };
    });

    var loc_posts = {{loc_graph_data|safe}}
    var ctx = document.getElementById('myChart').getContext('2d');
    var mydatasets = new Array();

    colors = [
        '#cb181d', //r
        '#238443', //g
        '#6a51a3', //p
        '#d94801', //o
        '#2b8cbe', //b
        '#ef3b2c', //r
        '#41ab5d', //g
        '#807dba', //p
        '#f16913', //o
        '#4eb3d3', //b
        '#fb6a4a', //r
        '#78c679', //g
        '#9e9ac8', //p
        '#fd8d3c', //o
        '#7bccc4', //b
        '#fc9272', //r
        '#addd8e', //g
        '#bcbddc', //p
        '#fdae6b', //o
        '#a8ddb5', //b
        '#fcbba1', //r
        '#d9f0a3', //g
        '#dadaeb', //p
        '#fdd0a2', //o
        '#ccebc5', //b
    ];

    for (i=0; i < 25; i++) {
        dataset = {
            fill: false,
            backgroundColor: colors[i] ,
            borderColor: colors[i],
            borderWidth: '0.7',
            label: loc_posts[i]['loc'],
            data: loc_posts[i]['posts'],
            borderWidth: 1
        };
        if (i >= 5) {
            dataset.hidden = true;
        }
        mydatasets.push(dataset);
    };

    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['6 weeks ago', '5 weeks ago', '4 weeks ago', '3 weeks ago', '2 weeks ago', '1 week ago'],
        datasets: mydatasets
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Jobpost counts'
            },
            ticks: {
              beginAtZero: false
            }
          }]
        }
      }
    });
  </script>
{% endblock %}
