.clearfix:after { content: '';  clear: both;  display: table; }

.container { padding: 20px 0 50px 0; }

/* css for fixed and centered navbar */
body { padding-top: 56px; }
nav .container { padding: 0; }
.navbar-brand { font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bolder }

table, th, td { border: 1px solid gray; border-collapse: collapse; padding: 0px 7px 2px 7px; } 
table { margin-bottom: 20px; }

.progressbar { background-color: #aaa; border-radius: 5px; width: 105px; }
.bar-inner { background-color: #085; border-radius: 5px; }

#skills-intro { float: left; margin-right: 10px; }
