.clearfix:after { content: '';  clear: both;  display: table; }

.container { padding: 20px 0 50px 0; }

/* css for fixed and centered navbar */
body { padding-top: 56px; }
nav .container { padding: 0; }
.navbar-brand { font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bolder }
.nav-link { padding: 0 0.8rem 0 0.8rem !important; }

form input, form select { margin: 0 5px 0 5px; }
form label { padding-left: 5px; }

table, th, td { border: 1px solid gray; border-collapse: collapse; padding: 0px 7px 2px 7px; } 
table { margin-bottom: 20px; }

.progressbar { background-color: #aaa; border-radius: 2px; width: 105px; }
.bar-inner { background-color: #085; border-radius: 2px; }

.all_tasks { margin-bottom: 40px; }
.warn { color: red; margin-bottom: 5px; }

.viz-header { margin-top: 14px; max-width: 600px; }

#viz { width: 100%; display: flex; flex-wrap: wrap; }
#viz article { width: 100%; }
#graph { width: 600px; height: 450px; }

@media screen and (min-width: 1700px) { /* screens 1300 or more */
  #viz article { width: 50%; }
  .container { max-width: 1500px !important; }
}
@media screen and (max-width: 767px) { /* screens 767 or less */
  #viz article { width: 100%; }
  #graph { width: 100%; }
}


